body{
    margin: 0;
    padding: 0;
}
.slider{
    overflow: hidden;
    width: 397px;
    height: 255px;
    position: relative;
    margin: 25px auto;
    z-index:1;
}
.img{
    position: absolute;
    opacity: 0;
    animation: animat 10s infinite;
}
.img:nth-last-of-type(1){

}
.img:nth-last-of-type(2){
    animation-delay: 3.5s;
}
.img:nth-last-of-type(3){
    animation-delay: 7s;
}
@keyframes animat{
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
}