
body{
    margin: 0;
    padding: 0;
}
.header{
    
    
}
.header ul{
    display: flex;
    top: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #008080;
    list-style: none;
    align-items: center;
    padding: 10px 0px;
    z-index:2;
}
.header ul li{
    display:inline;

}
.header ul li a{
    padding: 5px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #e6e6e6;
    text-decoration: none;
    
}
.header ul li a:hover{
    color: #004d4d;
    transition: 0.2s;
}
#container_gallery{
    margin-top: 160px;
}

.header .landscape{
   z-index: inherit;
   font-size: 35px;
  
}

.Text{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.Text h2{
    padding: 20px;
    
}
.Text p{
    padding: 5px 20px;
    text-align: justify;
    line-height: 22px;
    text-indent: 50px;
    
    font-size: 18px;
    font-weight: 600;
}

.imgs {
    background-color: #c3fcfc;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 15%;
    margin-right: 15%;
    z-index:1;
}
#container_gallery{
   
    background-color: #ffffff;
}
.imgs img{
    max-width: 240px;
    max-height: 427px;
    margin: 15px 15px;  
    transition: 1s;
}
.imgs img:hover{
    transform: scale(1.1);
}


#footer_style{
    background-color: #003333;
    height:200px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    position: absolute;
}
#footer_style ul{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    list-style: none;
}
#footer_style ul li{
    text-decoration: none;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-color: #000000;
    font-size: 12px;
    font-weight: 700;
}
#footer_style ul li a{
    text-decoration: none;
    
}
#github:hover{
    opacity: 0.5;
    transition: 0.8;
}

