
body{
    margin: 0;
    padding: 0;
}
.header ul{
    margin: 0;
    background-color: #6ca500;
    list-style: none;
    text-align: center;
    padding: 10px 0px;
}
.header ul li{
    display: inline;
}
.header ul li a{
    padding: 5px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #e6e6e6;
    text-decoration: none;
    
}
.header ul li a:hover{
    color: #113C0B;
    transition: 0.2s;
}

.Text{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}
h2{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding: 5px 20px;
    text-align: justify;
    line-height: 22px;
    text-indent: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 600;
}

.imgs {
    background-color: #ccee8d;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
#container_gallery{
    background-color: #e6ffee;
}
.imgs img{
    padding: 5px;
    max-width: 25%;
    max-height: 25%;
}
footer{
    height:  250px;
}
#footer_style{
    display: inline;
    text-decoration: none;
    text-align: center;
}
#github{
    max-width: 40px;
    max-height: 40px;    
}


